html body div#container div#feet {
background:#2A3033 url(/~images/ui/border-bkg.png) repeat-x;
color:#A4A7A7
}

html body div#container div#head div#head-contents {
background:url(/~images/ui/border-bkg.png) left bottom repeat-x;
color:#FF0
}

html body div#container div#head div#head-contents div#head-left div#head-left-title p.desc {
color:#a4a7a7
}

html body div#container div#head div#head-contents div#head-left div#head-left-title span.title-dotpm {
color:#53BFE2
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.feed ul li {
color:#474b4e
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.feed ul li.rss {
background:url(/~images/ui/feed-rss.png) left 0 no-repeat
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.feed ul li.twitter {
background:url(/~images/ui/feed-twitter.png) left 0 no-repeat;
color:#8A8D8D
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul {
border-left:solid 2px #474b4e
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li {
border-right:solid 2px #474b4e
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li a:hover,html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li.current-page-item a,html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li.current-page-item a:visited,html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li.current-page-item a:hover,html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li.current-page-item .page-item a:hover {
background:#0994c1 url(/~images/ui/pages-bot.png) bottom center no-repeat;
color:#fff
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li.current-page-item .page-item a,html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li.current-page-item .page-item a:visited {
background:#2a3033;
color:#50b5d6
}

html body div#container div#hips div#back-to-top span {
background:#eceede url(/~images/ui/top-bkg.png) top center no-repeat;
color:#fff
}

html body div#container div#hips div#back-to-top span a,html body div#container div#hips div#back-to-top span a:visited,html body div#container div#hips div#back-to-top span a:hover {
color:#050a0c
}

html,html body {
background:#2A3033;
color:#A4A7A7
}

html body div#container  div#hips div#hips-load div.post small.post-time {
border-left:solid .38em #5c656a
}

html body div#container  div#hips div#hips-load div.post small.post-time strong.month-year {
color:#5c656a
}

html body div#container  div#hips div#hips-load div.post div.post-content ul li {
background: url(/~images/ui/post-content-li.png) left no-repeat!important
}

html body div#container  div#hips div#hips-load div.post div.post-more ul li {
color:#7f7f7f
}

html body div#container  div#hips div#hips-load div.post div.post-more ul li.post-more-read {
background:url(/~images/ui/post-more-read-ico.png) left center no-repeat
}

html body div#container  div#hips div#hips-load div.post div.post-more ul li.post-more-comment {
background:url(/~images/ui/post-more-comment-ico.png) left center no-repeat
}

html body div#container  div#hips div#hips-load div.post div.post-content a:hover,html body div#container  div#hips div#hips-load div.post div.post-more ul li a:hover {
color:#ead58c
}

html body div#container  div#hips div#hips-load div.post div.post-head h1 a:hover {
color:#53bfe2
}

html body div#container  div#hips div#hips-load div.post div.post-content blockquote {
background:#1b2023
}

html body div#container  div#hips div#hips-load div.post div.post-details ul li.post-details-category {
background:url(/~images/ui/post-details-category-ico.png) left center no-repeat
}

html body div#container  div#hips div#hips-load div.post div.post-details ul li.post-details-tag {
background:url(/~images/ui/post-details-tag-ico.png) left center no-repeat
}

html body div#container div#head div#head-contents div#head-right div#head-right-menu div.pages ul li a,html body div#container div#head div#head-contents div#head-right div#head-right-menu div.feed ul li a,html body div#container  div#hips div#hips-load div.post div.post-content a,html body div#container  div#hips div#hips-load div.post div.post-content a:visited,html body div#container  div#hips div#hips-load div.post div.post-more ul li a,html body div#container  div#hips div#hips-load div.post div.post-more ul li a:visited {
color:#50b5d6
}

html body div#container  div#hips div#hips-load div.post div.post-head h1,html body div#container  div#hips div#hips-load div.post small.post-time strong.day,html body div#container  div#hips div#hips-load div.post div.post-content h1,html body div#container  div#hips div#hips-load div.post div.post-content h2,html body div#container  div#hips div#hips-load div.post div.post-content h3,html body div#container  div#hips div#hips-load div.post div.post-head h1 a,html body div#container  div#hips div#hips-load div.post div.post-head h1 a:visited {
color:#eceede
}

html body div#container  div#hips div#hips-load div.post div.post-details ul li a,html body div#container  div#hips div#hips-load div.post div.post-details ul li a:visited,html body div#container  div#hips div#hips-load div.post div.post-details ul li a:hover,html body div#container  div#hips div#hips-load div.post div.post-details ul li {
color:#6b6d6e
}

html body div#container  div#hips div#hips-load div.post div.post-content img.center {
border:solid .2em #050a0c
}

html body div#container  div#hips div#hips-load div.post div.post-content img.right,html body div#container  div#hips div#hips-load div.post div.post-content img.left {
border:solid .3em #050a0c
}

html body div#container div#hips div#hips-load dl#archives dd a.archives-post:hover {
color:#50B5D6!important
}

html body div#container div#hips div#hips-load dl#archives dd a.archives-post:visited {
color:#A4A7A7
}

html body div#container div#feet p#dowhat a {
color:#eee
}

html body div#container div#feet p#dowhat a:hover {
color:#fff
}

html body div#container div#feet p#menu a {
background:inherit;
color:#777
}

html body div#container div#feet p#menu a:hover {
color:#aaa!important
}

html body div#container div#hips div#hips-load dl#archives dt.archives-year,html body div#container div#head div#head-contents div#head-left div#head-left-title span.title-fltk,html body div#container div#hips div#hips-load dl#archives dd a.archives-post,html body div#container div#hips div#hips-load dl#archives dt.archives-month,html body div#container div#hips div#hips-load dl#archives dt span.archives-year {
color:#ECEEDE
}
