html,html body {
background:#323B4C;
color:#FBFBFB;
font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif
}

html body {
height:100%;
width:100%
}

html body div#container div#header {
height:300px;
position:fixed
}

html body div#container div#header div#header-outer div#header-inner {
-icab-box-shadow:0 8px 8px rgba(30,30,30,.75);
-khtml-box-shadow:0 8px 8px rgba(30,30,30,.75);
-moz-box-shadow:0 8px 8px rgba(30,30,30,.75);
-o-box-shadow:0 8px 8px rgba(30,30,30,.75);
-webkit-box-shadow:0 8px 8px rgba(30,30,30,.75);
background-color:#414141 ;
background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#414141), to(#414141), color-stop(.2,#303030)) ;
box-shadow:0 8px 8px rgba(30,30,30,.75);
height:100px;
left:0;
overflow:hidden;
position:fixed;
top:0;
width:100%;
z-index:1
}

html body div#container div#header a {
color:#eee
}

html body div#container div#header div#header-outer div.project a {
color:#EBF0FA
}

html body div#container div#header div#header-outer div.project span.f {
letter-spacing:-20px
}

html body div#container div#header div#header-outer div.project span.t {
letter-spacing:-10px
}

html body div#container div#header div#header-outer div.project span.l {
letter-spacing:-40px
}

html body div#container div#header div#header-outer div.project {
color:#eee;
font-family:Consolas, "Lucida Console", "Lucida Sans Unicode", Helvetica, Verdana, "Franklin Gothic Medium";
font-size:12em;
font-weight:bolder;
position:absolute;
text-shadow:18px 18px 18px rgba(0,0,0,.75);
top:-.4em;
z-index:9
}


html body div#container div#header div#header-outer div#header-inner span#project-description {
bottom:.45em;
display:block;
font-family:Verdana;
*left:20.5em!important;
left:22.5em;
line-height:1.25em;
position:absolute;
text-indent:.6em;
width:12em
}
html body div#container div#header div#header-outer div#header-inner div.project {
text-shadow:3px 3px 3px rgba(0,0,0,.5);
top:0;
z-index:12
}

html body div#container div#header div#header-outer div#header-inner form#search {
bottom:5px;
font-size:.75em;
position:absolute;
right:100px
}

html body div#container div#header div#header-outer div#header-inner form#search input {
-icab-border-radius:5px;
-khtml-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
-webkit-border-radius:5px;
background:#3C3C3C;
border-color:#464646;
border-radius:5px;
color:#ccc
}

html body div#container div#header div#header-outer div#header-inner form#search label,html body div#container div#header div#header-outer div#header-inner form#search input[type=submit] {
color:#5F5F5F
}

html body div#container div#header div#header-outer div#header-inner form#search:hover label,html body div#container div#header div#header-outer div#header-inner form#search:hover input[type=submit] {
color:#6C6C6C!important
}

html body div#container div#header div#header-outer div#header-inner form#search label:hover,html body div#container div#header div#header-outer div#header-inner form#search input[type=submit]:hover {
color:#797979!important
}

html body div#container div#header div#header-outer div#header-inner form#search input[type=radio] {
height:8.5px;
width:8px
}

html body div#container div#content {
color:#EBF0FA;
font-size:.75em;
margin-top:75px;
padding-top:10.5em
}

html body a,html body a:hover,html body a:focus {
text-decoration:none
}

html body div#container div#content a {
border-bottom:1px solid #3C475B;
color:#EBF0FA
}

html body div#container div#content a:hover {
color:#fff!important
}

html body div#container div#content h2,html body div#container div#content h3 {
font:20px 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
font-weight:700;
margin:0 0 2px;
padding:0
}

html body div#container div#content div.content-item {
border-bottom:1px solid #3C475B;
float:left;
margin:0 0 2em;
padding:0 0 1em 5.5em;
width:960px
}

html body div#container div#content div.content-item div.content-body {
color:#A2ADC2;
float:left;
line-height:1.5em;
margin:0 0 0 30px;
width:680px
}

html body div#container div#content div.content-item div.content-body-alt {
float:left;
margin:0 0 0 20px;
padding:0 0 5px;
width:680px
}

* + html body div#container div#content div.content-item div.content-body-alt {
padding:0 0 20px
}

html body div#container div#content div.content-item div.content-body-alt img {
margin:0 0 9px 9px
}

html body div#container div#content div.content-item div.content-details,html body div#container div#content div.content-item div.content-details-alt {
float:left;
width:250px
}

html body div#container div#content div.content-item div.content-body h1 {
color:#EBF0FA;
font-size:1.75em;
margin:.25em 0 .5em
}

html body div#container div#content div.content-item div.content-body h2 {
color:#EBF0FA;
font-size:1.5em;
margin:.25em 0 .5em
}

html body div#container div#content div.content-item div.content-body h3 {
color:#EBF0FA;
font-size:1.25em;
margin:.25em 0 .5em
}

html body div#container div#content div.content-item div.content-body p:last-child {
margin:0
}

html body div#container div#content div.content-item div.content-body p {
margin:0 0 1.1em;
}

html body div#container div#content div.content-item div.content-body ul li,html body div#container div#content div.content-item div.content-body ol li {
padding-top:.5em
}

html body div#container div#content div.content-item div.content-body ol li p {
margin:0!important;
padding:0!important
}

html body div#container div#content div.content-item ul.content-item-details li {
margin-top:.5em
}

html body div#container div#content div.content-item div.content-body ul {
list-style-type:disc;
margin-left:0;
padding-left:5em
}

html body div#container div#content div.content-item div.content-body ol {
list-style-position:inside;
list-style-type:numeric
}

.highlight {
background:#1b2023;
font-family:Consolas, "Trebuchet MS", Verdana, Helvetica, fixed;
font-size:1.1em;
line-height:1em;
margin:1em 0;
padding:1em 1.25em
}

.highlight .lineno {
background:#012;
border-right:1px solid #D4EAF7;
margin:0 .5em 0 0;
padding:0 .5em 0 0;
text-align:right;
width:2em
}

.highlight .err,.highlight .error {
background:#e3d2d2;
color:#a61717
}

.highlight .cp,.highlight .comment.preproc {
color:#999;
font-weight:700
}

.highlight .cs,.highlight .comment.special {
color:#999;
font-style:italic;
font-weight:700
}

.highlight .gd,.highlight .generic.deleted {
background:#FDD;
color:#000
}

.highlight .gd .x,.highlight .generic.deleted.specific {
background:#FAA;
color:#000
}

.highlight .ge,.highlight .generic.emph {
font-style:italic
}

.highlight .gi,.highlight .generic.inserted {
background:#DFD;
color:#000
}

.highlight .gi .x,.highlight .generic.inserted.specific {
background:#AFA;
color:#000
}

.highlight .go,.highlight .generic.output {
color:#888
}

.highlight .gp,.highlight .generic.prompt {
color:#555
}

.highlight .gu,.highlight .generic.subheading {
color:#AAA
}

.highlight .kt,.highlight .keyword.type {
color:#FCC;
font-weight:700
}

.highlight .o,.highlight .regex.delimiter {
color:#FFC0CB
}

.highlight .n,.highlight .inside.regular.expression {
color:#FCC
}

.highlight .nb,.highlight .name.builtin {
color:#0086B3
}

.highlight .ni,.highlight .name.entity {
color:purple
}

.highlight .nt,.highlight .name.tag {
color:navy
}

.highlight .w,.highlight .text.whitespace {
color:#BBB
}

.highlight .sr,.highlight .literal.string.regex {
color:#009926
}

.highlight .ss,.highlight .literal.string.symbol {
color:#990073
}

html body div#container div#content div.content-item div.content-body img.left:after,html body div#container div#content div.content-item div.content-body img.center:after,html body div#container div#content div.content-item div.content-body img.right:after {
clear:both;
content:" ";
display:block;
height:0;
visibility:hidden
}

html body div#container div#content div.content-item div.content-body img {
max-width:100%;
padding:0
}

html body div#container div#content div.content-item div.content-body img.center {
display:block;
margin:1em auto;
padding:.1em
}

html body div#container div#content div.content-item div.content-body img.right {
display:inline;
margin:1em 0 1em 1.8em;
padding:.1em
}

html body div#container div#content div.content-item div.content-body img.left {
display:inline;
margin:1em 1.8em 1em 0;
padding:.1em
}

html body div#container div#content div.content-item div.content-body .right {
float:right
}

html body div#container div#content div.content-item div.content-body .left {
float:left
}

html body div#container div#content div.content-item div.content-body div#disqus_thread {
border-top:1px solid #3C475B;
margin-top:3em;
padding-top:2em
}

html body div#container div#content div.content-item div.content-body div#disqus_thread hr {
background:#3C4759;
color:#3C4758
}

div#pages {
bottom:5px;
font-size:.75em;
position:absolute;
right:0
}

.highlight .c,.highlight .comment,.highlight .cm,.highlight .comment.multiline,.highlight .c1,.highlight .comment.single {
color:#998;
font-style:italic
}

.highlight .k,.highlight .keyword,.highlight .o,.highlight .operator,.highlight .gs,.highlight .generic.strong,.highlight .kc,.highlight .keyword.constant,.highlight .kd,.highlight .keyword.declaration,.highlight .kp,.highlight .keyword.pseudo,.highlight .kr,.highlight .keyword.reserved,.highlight .ow,.highlight .operator.word {
font-weight:700
}

.highlight .gr,.highlight .generic.error,.highlight .gt,.highlight .generic.traceback {
color:#A00
}

.highlight .gh,.highlight .generic.heading,.highlight .bp,.highlight .name.builtin.pseudo {
color:#999
}

.highlight .m,.highlight .literal.number,.highlight .mf,.highlight .literal.number.float,.highlight .mh,.highlight .literal.number.hex,.highlight .mi,.highlight .literal.number.integer,.highlight .mo,.highlight .literal.number.oct,.highlight .il,.highlight .literal.number.integer.long {
color:#099
}

.highlight .s,.highlight .literal.string,.highlight .sb,.highlight .literal.string.backtick,.highlight .sc,.highlight .literal.string.char,.highlight .sd,.highlight .literal.string.doc,.highlight .s2,.highlight .literal.string.double,.highlight .se,.highlight .literal.string.escape,.highlight .sh,.highlight .literal.string.heredoc,.highlight .si,.highlight .literal.string.interpol,.highlight .sx,.highlight .literal.string.other,.highlight .s1,.highlight .literal.string.single {
color:#d14
}

.highlight .na,.highlight .name.attribute,.highlight .no,.highlight .name.constant,.highlight .nv,.highlight .name.variable,.highlight .vc,.highlight .name.variable.class,.highlight .vg,.highlight .name.variable.global,.highlight .vi,.highlight .name.variable.instance {
color:teal
}

.highlight .nc,.highlight .name.class,.highlight .nn,.highlight .name.namespace {
color:#FCC
}

.highlight .ne,.highlight .name.exception,.highlight .nf,.highlight .name.function {
color:#900;
font-weight:700
}
